.people-row {
    width: 210px;
    overflow: hidden;
    margin: 0 auto;
}

.people-cell {
    font-size: 13px;
    float: left;
    width: 70px;
    overflow: hidden;
    padding: 6px 0 5px;
    text-align: center;
}

.people-cell-img {
    overflow: hidden;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}